body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  padding: 15px;
  margin-bottom: 15px;
}

textarea, select {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background:   red;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover {
  background:  red;
}

.logo {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 150px;  /* limite horizontal */
  max-height: 150px; /* limite vertical */
  /*border-radius: 12px; /* deixa cantos levemente arredondados */
  /*box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* sombra suave */
}


h1 {
  text-align: center;       /* centraliza o texto */
  font-size: 28px;          /* tamanho da fonte */
  font-weight: bold;        /* negrito */
  color: #ec0606;           /* cor do texto */
  margin-top: 10px;         /* espaço acima */
  margin-bottom: 20px;      /* espaço abaixo */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2); /* sombra suave no texto */
  font-family: "Segoe UI", sans-serif; /* fonte (pode trocar) */
  letter-spacing: 1px;      /* espaçamento entre letras */
  border-radius: 12px; /* deixa cantos levemente arredondados */
  box-shadow: 0 2px 6px rgba(231, 7, 7, 0.2); /* sombra suave */
}